:root {
    --1color: #660033;
    --2color: #E0E6FF;
    --3color: #777B88;
    --4color: #330033;
}

/* Basic Normalize */ 
html, body {
    margin: 0; padding: 0;
    height: 100%;
}

/* CSS Grid */
.container {
    height: 100%;
    display: grid;    
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto 1fr 100px;
    grid-template-areas: 
/*  "h h h h h h h h h h h h" */
    "n n n n n n n n n n n n"
    "m m m m m m m m m m m m"
    "f f f f f f f f f f f f"
    ;
}
/* .container > header {
    background-color: var(--1color);
    grid-area: h;    
} */ 
.container > nav {
    background-color: var(--1color);
    grid-area: n;    
} 
.container > main {
    background-color: var(--2color);
    grid-area: m;    
}
.container > footer {
    background-color: var(--4color);
    grid-area: f;    
}
.main-container {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: ;
    grid-template-areas: 
    "ar ar ar ar ar ar ar ar as as as as"
    ;
}
.main-container > article {
    background-color: var(--2color);
    grid-area: ar;
}
.main-container > aside {
    background-color: var(--3color);
    grid-area: as;
}

/* Design CSS Grid */
.container > nav {
    box-shadow: 0px 0.5px 1px black;
    z-index: 2;
}

/* Flexbox */
.flexnav {
    margin: 0; padding: 0;
    display: flex;
    list-style: none;
    justify-content: flex-end;
}
.flexnav > li {
    
}
.flexnav > li > a {
    display: block;
    padding: 20px;
    text-decoration: none;
    color: white;
    font-family: sans-serif;
    font-weight: 600;
}
.flexnav > li > a:hover {
    background-color: aquamarine;
    color: var(--1color);
}
.home {
    flex: 0;
    /*
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
    */
}
.services {
    flex: 0;
}
.contact {
    flex: 0;
}
.about {
    flex: 0;
}
.logo {
    margin-right: auto;
    margin-top: 5px;
    margin-left: 15px;
}
.flexnav .img-position {
    width: 55px;
    height: 47px;    
}

/* Text Contents Design */
article, aside {    
    color: white;
    padding: 30px;
    font-family: sans-serif;
}
article {
    color: var(--1color);
}
p {
    
}
h1, h2, h3, h4, h5 {
    text-align: center;
}
a {
    color: var(--4color);
}

/* Media Queries */
@media (max-width:768px) {
    .flexnav {
        flex-wrap: wrap;
        text-align: center;
    }
    .flexnav > li{
        flex: 1 1 60%;
    }
    .flexnav a{
        display: none;
    }
    .main-container {
        height: 100%;
        display: grid;
        grid-template-columns: ;
        grid-template-rows: ;
        grid-template-areas: 
        "ar ar ar ar ar ar ar ar ar ar ar ar"
        "as as as as as as as as as as as as";
    }
}














